{% extends 'base.html'%}
{% block title%}Admin Room{%endblock%}
{%block content%}
    <p>Jméno - Chce pít - Pije - Otázka - Odpověď- Ptá se - Odpovídá - Počet panáků</p>
    {%for user in users%}
        <p>{{user.username}} - {{user.wantDrink}} - {{user.drinks}} - {{user.question}} - {{user.answer}}- {{user.is_asking}} - {{user.is_answering}} - {{user.drinksDrinked}}</p>
    {%endfor%}
    <form action="" method="post" class="box">
        <input type="submit" value="Refresh">
    </form>
{%endblock%}