{% extends 'base.html' %}
{%block title%}Judging Room{%endblock%}
{%block content%}
        <form action="" class="box" method="post">
            <h2>ODPOVĚĎ</h2>
            <h2>{{asker.answer}}</h2>
            <div class="radio-toolbar">
                <input type="radio" name="pit" id="radio1" value="pit" checked>
                <label for="radio1">PIJ</label>
                <input type="radio" id="radio2" name="pit" value="nepit">
                <label for="radio2">NEPIJ</label>
            </div>
            <input type="submit" value="KONEC">
        </form>
    

{%endblock%}