{% extends 'base.html' %}
{%block title%}Judging Room{%endblock%}
{%block content%}
    {%if user.drinks == 2%}
        <form action="" class="box" method="GET">
            <h2>Čeká se na rozhodnutí</h2>
            <input type="submit" value="Refresh">
        </form>
    {%else%}
        <form action="" class="box" method="post">
            {%if user.drinks == 1%}
                <h2>piješ</h2>
            {%else%}
                <h2>nepiješ</h2>
            {%endif%}
            <input type="submit" value="Konec">
        </form>
    {%endif%}
{%endblock%}